<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a href="@Url.Action("Index","Dashboard")" class="waves-effect waves-light">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("Index","Posts")" class="waves-effect waves-light">
                        <i class="mdi mdi-file-document"></i>
                        <span> Posts </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="@Url.Action("Index","Posts")">All Posts</a></li>
                        <li><a href="@Url.Action("AddPost","Posts")">Add New Post</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("Index","Users")" class="waves-effect waves-light">
                        <i class="fa fa-user"></i>
                        <span> Users </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">

                        <li><a href="@Url.Action("Index","Users")">All Users</a></li>
                        <li><a href="@Url.Action("AddUser","Users")">Add New User</a></li>
                    </ul>
                </li>

                <li>
                    <a href="@Url.Action("Index","Pages")" class="waves-effect waves-light">
                        <i class="fa fa-user"></i>
                        <span> Pages </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">

                        <li><a href="@Url.Action("Index","Pages")">All Users</a></li>
                        <li><a href="@Url.Action("AddPage","Pages")">Add New User</a></li>
                    </ul>
                </li>
               

                 
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->
  @*   <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - WP.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
</div>