@model WP.DTOs.CreateUserDto
@{

    ViewBag.Title = "Add New User";
    ViewBag.SubTitle = "Create a brand new user and add them to this site.";
}

<form action="@Url.Action("AddUser")" class="form label wp_form" method="post">
    @Html.AntiForgeryToken()
   @*  @Html.ValidationSummary() *@
    <ul>
        <li>
            @Html.LabelFor(m => m.UserLogin)
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserLogin)
                @Html.ValidationMessageFor(x => x.UserLogin)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.UserEmail)
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserEmail)
                @Html.ValidationMessageFor(x => x.UserEmail)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.FirstName)
            <div class="form-content">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.LastName)
            <div class="form-content">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.UserUrl)
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserUrl)
                @Html.ValidationMessageFor(x => x.UserUrl)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.UserPass)
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserPass)
                @Html.ValidationMessageFor(x => x.UserPass)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.SendUserNotification)
            <div class="form-content">
                
                <label>Send the new user and email about their account</label>
                @Html.CheckBoxFor(m => m.SendUserNotification)
                @Html.ValidationMessageFor(x => x.SendUserNotification)
            </div>
        </li>
        <li>
            @Html.LabelFor(m => m.Role)
            <div class="form-content">
                @Html.DropDownListFor(m => m.Role, (IEnumerable<SelectListItem>)ViewBag.Roles)
                @Html.ValidationMessageFor(x => x.Role)
            </div>
        </li>
        <li class="submit">
            <button type="submit" class="button insert-media add_media">Add New User</button>
        </li>
    </ul>
</form>
<link href="~/assets/css/wp_form.css" rel="stylesheet" />
