@model WP.DTOs.EditUserDto
@{

    ViewBag.Title = "Update User";
    ViewBag.SubTitle = "Create a brand new user and add them to this site.";
}
<form action="@Url.Action("EditUser", new {user=Model.UserId})" class="form label wp_form" method="post">   
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()
    @Html.HiddenFor(s=>s.UserId)
<h2>Name</h2>

    <ul>
        <li>
            @Html.LabelFor(m => m.UserLogin, "Username")
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserLogin, new { @readonly = "readonly" })
                <span class="description">Usernames cannot be changed.</span>
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Role)
            <div class="form-content">
                @Html.DropDownListFor(m => m.Role, (IEnumerable<SelectListItem>)ViewBag.Roles)
                @Html.ValidationMessageFor(x => x.Role)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.FirstName)
            <div class="form-content">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(x => x.FirstName)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.LastName)
            <div class="form-content">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(x => x.LastName)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Nickname, "Nickname")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Nickname)
                @Html.ValidationMessageFor(x => x.Nickname)
            </div>
        </li>
        </ul>
        <h2>Contact Info</h2>
    <ul>
        <li>
            @Html.LabelFor(m => m.UserEmail, "Email")
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserEmail)
                @* @Html.ValidationMessageFor(x => x.UserEmail) *@
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.UserUrl, "Website URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.UserUrl)
                @Html.ValidationMessageFor(x => x.UserUrl)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Facebook, "Facebook Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Facebook, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Facebook)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Instagram, "Instagram Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Instagram, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Instagram)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Linkedin, "LinkedIn Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Linkedin, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Linkedin)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Myspace, "MySpace Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Myspace, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Myspace)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Pinterest, "Pinterest Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Pinterest, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Pinterest)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Soundcloud, "SoundCloud Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Soundcloud, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Soundcloud)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Tumblr, "Tumblr Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Tumblr, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Tumblr)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Wikipedia, "Wikipedia Page (if exists)")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Wikipedia, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Wikipedia)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Twitter, "X Username (without @)")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Twitter, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Twitter)
            </div>
        </li>

        <li>
            @Html.LabelFor(m => m.Youtube, "YouTube Profile URL")
            <div class="form-content">
                @Html.TextBoxFor(m => m.Youtube, new { @class = "regular-text" })
                @Html.ValidationMessageFor(m => m.Youtube)
            </div>
        </li>
 
        <li class="submit">
            <button type="submit" class="button insert-media add_media">Edit User</button>
        </li>
    </ul>
</form>
@section Styles {
    <link href="~/assets/css/wp_form.css" rel="stylesheet" />
}

@section Scripts {
    <script>
        
    </script>
}